<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center">
  <h1>Home</h1>
<%= link_to "Log in", new_user_session_path  %> <br>
<!-- <%= link_to "Sign up", new_user_registration_path  %> <br> -->
<%= link_to "Sign out", destroy_user_session_path, method: 'delete'  %>
</div>
