<div class="container-fluid w-50 border rounded shadow mt-5 p-4">
  <%= link_to "Back", admin_discounts_path  %>
  <br>
  <div class="text-center">
    <h1> Discount ID:<%= @discount.id %></h1>
    <p> Name: <%= @discount.name %></p>
    <p> Value: <%= @discount.price %></p>
    <br>
  </div>
</div>
